name: Run Unit Tests

on:
  push:
    branches:
      - main
      - menu_test
  pull_request:
    branches:
      - main
      - menu_test

jobs:
  test-backend:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: backend   # chạy Maven trong thư mục backend

    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache Maven Dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Run all unit tests
        run: mvn -B test
